<div class="m-lg-3" *ngIf="!isLoading">
  <h1 [translate]="'Profile.ModuleTitle'"></h1>
  <div class="profile_avatar_box">
    <div class="row">
      <img class="m-auto" src="../../../../assets/img/profile_icon.svg" alt="avatar">
    </div>
    <div class="row">
      <h3 class="m-auto text-center">{{ instructor?.title }} {{ instructor?.givenName }} {{ instructor?.familyName }}</h3>
    </div>
    <div class="row">
      <span class="m-auto">{{ instructor?.category }}</span>
    </div>
  </div>

  <div class="mt-4 pr-lg-5"> <!-- first box -->
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Category'"></span>
          </div>
          <div class="col-lg-3 data-colored">
            <span>{{instructor?.category || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Specialty'"></span>
          </div>
          <div class="col-lg-3 data-colored">
            <span>{{instructor?.specialty || '-'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #first box -->

  <div class="mt-4 pr-lg-5"> <!-- second box -->
    <div class="card mb-3">
      <div class="card-body">

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.GivenName'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.givenName || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.HomeAddress'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{([instructor.homeAddress,instructor.homeCity,instructor.homePostalCode] | truthify | join : ', ') || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.FamilyName'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.familyName || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.HomePhone'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.homePhone || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.MiddleName'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.middleName || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.WorkAddress'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{([instructor.workAddress,instructor.workCity,instructor.workPostalCode] | truthify | join : ', ') || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.URL'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.url || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.WorkPhone'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.workPhone || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.InstructorCode'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.instructorCode || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Email'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.email || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Fax'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.fax || '-'}}</span>
          </div>
        </div>


      </div>
    </div>
  </div> <!-- #second box -->

</div>
