.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.inner__content {
  max-height: 70vh;
  overflow-y: scroll;
}

.border-top {
  border-top: 2px solid #E4E7EA !important;
}

.border-right {
  border-right: 1px solid #E4E7EA !important;
}

.menu-left{
  list-style-type: none ;
}

ul.menu-left li {
  cursor: pointer;
}

ul.menu-left li a{
  color:#333;
}

ul.menu-left li a.active {
   font-size: 18px;
}

.grade-title{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.09375rem;
}

.passed-grade {
  color: #19D65B;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.76px;
  text-align: right;
  white-space: nowrap !important;
}
.failed-grade {
  color: #A4B7C1;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.76px;
  text-align: right;
  white-space: nowrap !important;
}

.grade-small{
  font-size: 24px !important;
}

@media (max-width: 575.98px) {
  .inner__content {
    max-height: unset;
    overflow-y: hidden;
  }
}
